html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}
  
div {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.evenly-distributed-children {
    display: flex;
    justify-content: space-between;
}

h2 {
    margin:0px
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
li {
    float: left;
}
  
.nav-btn {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: rgb(10,50,130);
    border: none;
    outline: none;
    cursor: pointer;
}

.view {
    display: none;
}

.active-view {
    display: block;
}

.header {
    width: 100%;
    height: 50px;
    padding: 10px;
    display: flex;
    gap: 5px;
    align-items: center;
    box-shadow: 0 0px 5px 0 rgba(0,0,0,.2), 0 0px 5px 0 rgba(0,0,0,.19); 
    position: relative;
    z-index: 10;
    background-color: rgb(10,50,130);
}

.header-logo {
    height: 100%;
    width: auto;
}

.header-text {
    color: white;
}

.simulator {
    margin: 2.5% 10% 2.5% 10%;
    background-color:white;
    border-radius: 35px;
    box-shadow: 0 0px 30px rgb(188, 187, 187);
    padding:2em;
    display: flex;
}

.panel {
    padding: 2em;
    border-radius: 35px;
    background-color: lightgrey;
    width: 30%;
}

.parameter {
    margin-bottom: 1em;
    
}

.hidden {
    display: none;
}

.display{
    width: 100%;
    text-align: center;
}

.display img {
    width: 100%;
    height: 100%;
}

.intro {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.5%;
    font-weight: bold;
}

.intro h1 {
    text-align: center;
    font-size: 4em;
    margin: 1em;
}

.description-boxes {
    display: flex;
    justify-content: space-between;
    margin: 2em 10% 2em 10%;
}

.description-box {
    border-radius: 35px;
    box-shadow: 0 0px 30px rgb(188, 187, 187);
    padding: 2em;
    margin: 2em auto;
    width:40%;
    height: 250px;
}

footer {
    text-align: center;
    background-color: rgb(240, 240, 240);
    padding: 0.5em;
    color: white;
    background-color: rgb(33,33,33);
}